<div class="container">
  <div style="margin-top:30px;">
    <div class="row d-flex justify-content-start align-items-center font-weight-bold" style="font-size:20px; height:40px;"><%= @customer.name %>さんの共有</div>
  </div>


  <div style="width:560px; height:650px; padding-bottom:10px; overflow:auto;">
    <div class="row border-bottom">
    <%= render partial: "public/posts/post", collection: @share_posts %>
    </div>
  </div>
</div>