<div class="container">
  <div style="margin-top:30px; margin-left:180px;">
    <div class="row d-flex justify-content-center align-items-center border font-weight-bold" style="font-size:20px; height:40px; width:150px;">トップ画面</div>
  </div>
</div>