<div class="container">
  <%= form_with model: @post_detail, url: public_posts_path, method: :post do |f| %>
    <%= f.text_area :blog, class:"form-control" %>
    <%= f.submit '投稿', class:"btn btn-lg btn-block btn-info mt-4" %>
  <% end %>
</div>