<div class="container">
  <div style="margin-top:30px; margin-left:180px;">
    <div class="row d-flex justify-content-center align-items-center border font-weight-bold" style="font-size:20px; height:40px; width:150px;"><%= currentcustomer.name %>さんの投稿</div>
  </div>
  <% @post_details.each do |post_detail| %>
  <% @customers.each do |customer| %>
  <div class="row d-flex align-items-center">
    <div class="col-2">
      <div><%= image_tag customer.get_avatar_image(120,120) %></div>
    </div>
    <div class="col-9">
      <div><%= customer.name %></div>
      <div><%= post_detail.blog %></div>
    </div>
  </div>
  <% end %>
  <% end %>
</div>